<template name="main">

  <section class="profile">
    {{#each user}}
  	<div class="col-sm-2 profile-menu">
  		<div class="row">
  			<div class="col-sm-12 profile-picture">
  				<img src="{{picFacebook profile.id}}" alt="{{nome}}" class="img-circle img-responsive">
  			</div>
  			<div class="col-sm-12 text-center profile-description">
  				<h1>{{profile.name}}</h1>
  			</div>
  			<div class="col-sm-12 text-center">
  				<hr>
          <h3><small>Créditos do bem:</small>{{number}}</h3>
  				<h4 class="profile">ONGs que eu curto</h4>
  				<br>
  				<div class="row ong">
  					<span class="col-sm-2 foto">
  						<img src="images/ong.png" alt="{{nome}}" class="img-circle img-responsive">
  					</span>
  					<span class="col-sm-10 text-left nome">
  						ONG só amor
  					</span>
  				</div>
  			</div>
  		</div>
	   </div>
    {{/each}}
	<div class="col-sm-10 col-sm-offset-2 timeline margin-nav">
    <a class="goman">Ser Gente Boa!</a>
    {{#each events}}
		<ul class="cbp_tmtimeline">
	    <li>
	        <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{date}}</span> <span>{{time}}</span></time>
	        <div class="cbp_tmicon">	<img src="images/{{linkong}}.png" alt="" class="img-responsive img-circle"></div>
	        <div class="cbp_tmlabel">
	            <h3>{{ong}} <small>{{fromNow createDate}}</small>
	            <br>
	            </h3>
	            <h2>
	            	{{title}}
	            </h2>
	            <p>
	            	{{local}}
	            </p>
	            <p>
	            	{{date}}
	            </p>
	            <p>
              {{>vaiGente}}
	            </p>
	        </div>
	    </li>
    </ul>
    {{/each}}
	</div>
  </section>
</template>
<template name="vaiGente">
<button class="btn btn-primary" id="vaiGente">Seja gente boa</button>
</template>