<template name="header">
  <header>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:3000">Gente Boa</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">

            {{#if currentUser}}
              <li><a href="#">ONGs</a></li>
              <li><a href="#">Recompensa</a></li>
              <li>{{> loginButtons}}</li>
            {{else}}
              <li class="highlight"><a href="{{pathFor 'accessOng'}}">Entrar como ONG</a></li>
            {{/if}}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </header>
</template>

